/* h2 {
  color: teal;
  background-color: plum;
}
button {
  color: #dfff00;
  background-color: #cd5c5c;
}

p {
  color: olive;
  background-color: rgb(100, 50, 20);
} */

/* selector.html file codes below */

/* selecting everything */
* {
  /* color: pink; */
  /* background-color: aqua; */
}
body {
  background-color: #f1faee;
}
button {
  font-size: 30px;
  background-color: #a8dadc;
}
#signup {
  background-color: #1d3557;
  color: #f1faee;
}
h1,
h2 {
  color: magenta;
}
.tag {
  color: #475841;
  background-color: #db7f8e;
  font-size: 20px;
}
/* all anchor tag color change at once */
/* a {
  color: red;
} */

/* descendant selector */
span a {
  color: red;
}

footer a {
  color: #fab2ea;
}

/* adjacent selector */

/* input + button {
  background-color: #1d3557;
} */

h2 + button {
  font-size: 20px;
  /* background-color: #db7f8e; */
}

/* direct child */

footer > a {
  color: aqua;
}
