h1 {
  text-align: center;
  color: brown;
  font-weight: 400;
  text-decoration: blue underline wavy;
  letter-spacing: 15px;
}
h2 {
}
h3 {
}
p {
  text-align: right;
  font-weight: bold;
  line-height: 1.5;
}
/* remove underline of hyperlink Hello */
a {
  text-decoration: none;
}
